<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975776761083-jff8ej1e0i6j4s07mepukuno18ctc2pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975776761083-jff8ej1e0i6j4s07mepukuno18ctc2pp</string>
	<key>API_KEY</key>
	<string>AIzaSyAtLVsAw-cJt0bLM_owVOKEMJ7_WavkpXU</string>
	<key>GCM_SENDER_ID</key>
	<string>975776761083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srtech.dailyboost</string>
	<key>PROJECT_ID</key>
	<string>daily-boost-d6377</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-boost-d6377.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975776761083:ios:725f3e083e3866bd2cdc5e</string>
</dict>
</plist>